<main>
    <section id="logon" style="background-image: url(<%= asset_path("logon-bg.jpg")%>);">
        <div class="contain">
            <div class="log_blk">
                <form action="" method="POST">
                    <div class="logo">
                        <img src="<%= asset_path("logo.svg")%>" alt="">
                    </div>
                    <div class="txt">
                        <h1 class="fw_700">Reset Password</h1>
                        <p>Enter your new password below</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form_blk">
                                <input type="password" name="" id="" class="input" placeholder="New Password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form_blk">
                                <input type="password" name="" id="" class="input" placeholder="Re-type new password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form_blk forget_blk">
                                <a href="forgot-password.php">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn_blk">
                        <button type="submit" class="site_btn prime_btn w-100">Create New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>