<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="guide" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Guidelines</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-guide.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                    <button type="button" class="btn bell_btn">
                        <img src="<%= asset_path("icon-bell.svg")%>" alt="">
                        <span>2</span>
                    </button>
                </div>
            </div>
            <div class="inner_blk">
                <div class="wrapper ex">
                    <nav class="nav_list">
                        <ul class="list">
                            <li class="active"><a href="terms.php">Terms & Conditions</a></li>
                            <li><a href="privacy.php">Privacy Policy</a></li>
                            <li><a href="faqs.php">FAQs</a></li>
                            <li><a href="pop-ups.php">Pop Ups</a></li>
                        </ul>
                    </nav>
                    <div class="content_blk">
                        <div class="btn_blk justify-content-end mb-5">
                            <a href="privacy-edit.php" class="site_btn prime_btn round">Update</a>
                        </div>
                        <h6>Rules and Regulations</h6>
                        <div class="rules">
                            <p>
                                During the tournament all participants are expected to behave
                                professionally and should avoid abusive language/gestures/
                                question umpires decisions.
                            </p>
                            <p>
                                The Team Captain is responsible for informing all of the
                                teammates about when the team will be playing and on what dates.
                            </p>
                            <p>
                                During the tournament all participants are expected to behave
                                professionally and should avoid abusive language/gestures/
                                question umpires decisions.
                            </p>
                            <p>
                                The Team Captain is responsible for informing all of the
                                teammates about when the team will be playing and on what dates.
                            </p>
                            <p>
                                During the tournament all participants are expected to behave
                                professionally and should avoid abusive language/gestures/
                                question umpires decisions.
                            </p>
                            <p>
                                The Team Captain is responsible for informing all of the
                                teammates about when the team will be playing and on what dates.
                            </p>
                            <p>
                                During the tournament all participants are expected to behave
                                professionally and should avoid abusive language/gestures/
                                question umpires decisions.
                            </p>
                            <p>
                                The Team Captain is responsible for informing all of the
                                teammates about when the team will be playing and on what dates.
                            </p>
                        </div>
                    </div>
                    <div class="history">
                        <h5>History</h5>
                        <ul class="htry_list">
                            <li>
                                <p>Term &amp; Conditions - Updated!</p>
                                <p class="time">09/12/2021</p>
                                <hr>
                            </li>
                            <li>
                                <p>Term &amp; Conditions - Updated!</p>
                                <p class="time">09/12/2021</p>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>