<main>
    <section id="logon" style="background-image: url(<%= asset_path("logon-bg.jpg")%>);">
        <div class="contain">
            <div class="log_blk welcm">
                <div class="w-100">
                    <div class="logo">
                        <img src="<%= asset_path("logo.svg")%>" alt="">
                    </div>
                    <div class="txt">
                        <h1 class="fw_700">Welcome!</h1>
                        <p>Let’s start laughing</p>
                    </div>
                    <div class="btn_blk mt-5">
                        <a href="/admin_users/sign_up" class="site_btn prime_btn w-100">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>