.trans_blk{
  background: #313032;
  border-radius: 2.8rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  max-width: 20rem;
  gap: 1rem;
  padding: 0 1rem
}
.trans_blk span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: #FEBB59;
  min-width: 4rem;
}
.trans_blk input {
  flex: 1 1 0%;
  width: 100%;
  height: 4.6rem;
  background: transparent;
  outline: transparent;
  border: 0;
  color: #9E9E9E;
}
#user_list .inside #table_users .table__blk table tbody tr td .user .ellipse{
  border-radius: 75%;
  overflow: hidden;
  > img{
    object-fit: cover;
    height: 100%;
  }
}
#trans #table_blk table tbody tr td .user_detail .img{
  >img{
    height: 100%;
    object-fit: cover;
  }
}

#tormnt #top_header #notify_dropdown{
  .dropdown-menu{
    min-width: 43.5rem;
    z-index: 20 !important;
  }
}
#add_gift form .form_blk select.input{
  color: #9b9b9b!important;
  background: unset;
  background-color: #313032 !important;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="100px" height="100px" fill="%23000" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"><polygon points="80.7,20 50,50.7 19.3,20 4.7,34.7 50,80 95.3,34.7 "/></svg>');
  background-repeat: no-repeat;
  background-size: 1.4rem;
  background-position: right 2rem center;
  padding-right: 4rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#support{
  form{
    .form_blk{
      select.input{
        background: unset;
        background-color: #211c23 !important;
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="100px" height="100px" fill="%23000" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"><polygon points="80.7,20 50,50.7 19.3,20 4.7,34.7 50,80 95.3,34.7 "/></svg>');
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: right 2rem center;
        padding-right: 4rem !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 6rem;
        color: var(--light);
        font-weight: 400;
        font-size: 1.6rem;
        border: 0.1rem solid #454545;
        border-radius: 2rem;      }
    }
  }
}

#tormnt .top .season_detail{
  gap: 1rem;
  .form_blk{
    margin-bottom: 0;
    select.input{
      color: #d8d8d8;
      height: 5rem;
      padding: 1.3rem 2rem;
      background: unset;
      border-radius: 2.5rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
      box-shadow: none;
      border: 0 !important;
      background-color: #313032 !important;
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="100px" height="100px" fill="%23000" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"><polygon points="80.7,20 50,50.7 19.3,20 4.7,34.7 50,80 95.3,34.7 "/></svg>');
      background-repeat: no-repeat;
      background-size: 1.4rem;
      background-position: right 2rem center;
      padding-right: 4rem !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  p{
    color: #636363;
    font-size: 2rem;
    line-height: 2.4rem;
    span{
      color: var(--light);
    }
  }
}

#notify {
  .left_blk {
    .top {
      input[type="date"] {
        font-size: 0;
        display: block !important;
        &::-webkit-calendar-picker-indicator {
          color: rgba(0, 0, 0, 0);
          opacity: 1;
          display: block;
          background: url("icon-caldr-white.svg") no-repeat;
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
          border-width: thin;
        }
      }
    }
  }
}

#enable_modal {
  ._inner {
    max-width: 38rem;
    background: #201e23;
    border: 0.3rem solid #5e5e5e;
    border-radius: 4rem;
    padding: 3.2rem 5.6rem 4.5rem 5.9rem;
  }

  h2{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: center;
    color: #ff0000;
    margin-bottom: 1.7rem;
  }

  p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 2.7rem;
    margin-bottom: 3.4rem;
  }

  .btn_blk{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: wrap;
    gap: 1.5rem;
    grid-gap: 1.5rem;
  }

  .site_btn{
    border-radius: 29rem;
    width: 27rem;
    height: 7.3rem;
    font-size: 2.3rem;
    margin-bottom: 1.4rem;
  }

  .site_btn.bg_yellow{
    background: linear-gradient(180deg, #ffde88 0%, #ffb905 100%);
    color: #000000;
  }

  .site_btn.bg_dark{
    background: #38353c;
    color: #ffffff;
  }
}

#sidebar .inside .list_blk ul > li > a.active{
  border: 0 !important;
}

#entries{
  color: white;
  margin-top: 27px;
}

#support_time{
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  text-transform: lowercase;
  color: #FFFFFF;
}

.time{
  font-size: 10px;
}

#admin_profile_upload_label{
  left: 54.51%;
  right: 35.76%;
  top: 31.54%;
  bottom: 64.55%;
  border: 1.5px solid #5F5F5F;
  border-radius: 20px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #FFFFFF;
}
#table_users {
  margin: 0 -4.4rem 0 -4.4rem;
  table {
    thead {
      tr {
        background-color: #19161e;
        border-bottom: transparent;
        th {
          &:first-child {
            padding-left: 4rem !important;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: transparent;
        td {
          &:first-child {
            padding-left: 4rem !important;
          }

        }
      }
    }
  }
}


#table_blk {
  &.trans_table{
    margin: 0 -2rem 0 -2.7rem;
    table {
      thead {
        tr {
          background-color: #19161e;
          border-bottom: transparent;
          th {
            &:first-child {
              padding-left: 4rem !important;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              padding-left: 4rem !important;
            }

          }
        }
      }
    }
  }
}

#admin_profile form .wrapper .form_blk .input{
  border: 0.1rem solid transparent;
  &:focus-within {
    border-color: #FEDD88
  }
}

#sidebar .inside .list_blk ul > li > a{
  &.btn.log_out{
    > img{
      filter: brightness(0) saturate(100%) invert(14%) sepia(50%) saturate(7458%) hue-rotate(356deg) brightness(111%) contrast(118%);
    }
  }
}

#user_list .inside .top .round_input input.input,
#trans .top .form_blk > .input.input{
  padding-left: 3rem !important;
}

.trans_blk input, .banner_date {
  text-transform: uppercase;
}

#top_header .side .bell_btn{
  z-index: 99;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  &.show {
    z-index: 10;
    background: rgba(11, 2, 19, 0.7);
    backdrop-filter: blur(5px);
  }
}

#tormnt{
#top_header{
  #notify_dropdown {
    .bell_btn{
      z-index: 99;
      position: relative;
      width: 6rem;
      min-width: 6rem;
      height: 5.6rem;
      padding: 1.2rem 1.4rem;
      border: none;
      box-shadow: none;
      margin-left: 4.3rem;
      >span{
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        position: absolute;
        top: 0;
        right: 1rem;
        width: 2.4rem;
        min-width: 2.4rem;
        height: 2.4rem;
        border-radius: 75%;
        overflow: hidden;
        background: red;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: var(--light);
      }
    }
    .dropdown-menu {
      min-width: 43.5rem;
      background: #201e23;
      border-radius: 3rem;
      border-color: transparent;
      padding: 3rem 2rem;
      color: var(--light);
      z-index: 20 !important;
    }
  }
}
}

#rank_user_coins{
  text-align: center !important;
  border: 0 !important;
  &:focus-within {
    border: 0.1rem solid #FEDD88 !important;
  }
}

#description{
  height: 500px !important;
  width: 100%;
}

#notify_dropdown .dropdown-menu{
  z-index: 20 !important;
}

#support_dropDown{
  .dropdown-toggle{
    z-index: 20;
  }
  .dropdown-menu{
    z-index: 20 !important;
  }
}
#support{
  #top_header .side .hide_bell_btn{
    z-index: -1;
  }
  #support_dropDown{
    .dropdown-toggle.hide_select_btn{
      z-index: -1;
    }
  }
}

#sidebar .inside .btm_blk .img{
  height: 4rem !important;
}

#tormnt_modal .detail_blk .right_blk .img{

  max-height: 37rem;
  img{
    object-fit: contain;
  }
}

#notify_dropdown .dropdown-menu .list li{
  &:not(last-child){
    margin-bottom: 1rem;
  }
}
#notify_dropdown .dropdown-menu .list li .item .detail_blk .img_blk .img{
  overflow: hidden;
  >img{
    object-fit: cover;
    height: 100%;
  }
}

#winner_modal{
  ._inner{
    background: #0B0213;
  }
  .winner_blk {
    display: inline-block;
    .user_blk {
      display: flex;
      align-items: center;
      margin-bottom: 3.6rem;
      .icon {
        width: 2.3rem;
        height: 1.7rem;
        margin-right: 3rem;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
      .user {
        display: flex;
        align-items: center;
        .img {
          height: 6.9rem;
          width: 6.9rem;
          border-radius: 50%;
          margin-right: 1.3rem;
          img {
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          h6 {
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 0.4rem;
          }
          p {
            font-size: 1.4rem;
            font-weight: 400;
            color: #ffffff;
          }
        }
      }
    }
    .name_blk {
      margin-bottom: 6.7rem;
      h4 {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #ffffff;
      }
    }
    .post_blk {
      height: 31rem;
      width: 31rem;
      border-radius: 0.7rem;

      .detail {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        padding: 2rem;
        span {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2.4rem;
          color: #ffffff;
        }
        p {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: #ffffff;
          margin-bottom: 1.5rem;
        }
        .bottom {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .like {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3.5rem;
            padding: 1rem;
            background: #ffffff;
            width: 7.1rem;
            height: 3.4rem;
            .icon {
              width: 1.3rem;
              height: 1.2rem;
              margin-right: 0.8rem;
              img {
                height: 100%;
                object-fit: contain;
              }
            }
            span {
              font-size: 1.6rem;
              font-weight: 600;
              color: #00a344;
            }
          }

          .unlike {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3.5rem;
            padding: 1rem;
            background: #ffffff;
            width: 7.1rem;
            height: 3.4rem;
            .icon {
              width: 1.3rem;
              height: 1.2rem;
              margin-right: 0.8rem;
              img {
                height: 100%;
                object-fit: contain;
              }
            }
            span {
              font-size: 1.6rem;
              font-weight: 600;
              color: #f44336;
            }
          }
        }
      }
    }
  }
}
#tour_banner .inside .item .body .fig{
  border-radius: 75%;
  overflow: hidden;
  >img{
    object-fit: cover;
  }
}

#support .chat_list{
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}


#trix-toolbar-1{
  background: #0B0213;
  border-radius: 1.4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 2rem;
  margin-bottom: 2rem;
  position: absolute;
  top: -9.1rem;
  left: 0;
  .trix-button-group{
    border: transparent !important;
    gap: 0.2rem;
    margin-bottom: 0 !important;
  }
  .trix-button.trix-button--icon{
    width: 3.5rem;
    height: 3.5rem;
    border-color: transparent !important;
    border-radius: 0.6rem;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.15);
    &.trix-active{
      background: #F9C234;
      &:before{
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(134deg) brightness(103%) contrast(100%);
      }
    }
    &:before{
      opacity: 1 !important;
      filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(24%) hue-rotate(64deg) brightness(106%) contrast(108%);
    }
  }

  .trix-button--icon-quote, .trix-button--icon-strike, .trix-button--icon-code{
    display: none;
  }
  .trix-dialog--link{
    left: unset;
  }
}

#faq_editor{
  position: relative;
  #trix-toolbar-1 {
    top: -24.5rem;
  }

  #description{
    height: 500px;
    width: 100%;
  }
}

#faq_description{
  height: 500px !important;
  width: 100% !important;
}

#popup_description{
  height: 500px !important;
  width: 100% !important;
}

#winner_modal .winner_blk .post_blk{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#post_modal .post_blk{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#chart-2 > div > div:nth-child(1) > div > svg > g:nth-child(2){
  display: none;
}

#logon{
  &.admin{
    width: calc(100% - 25.6rem);
    margin-left: 25.6rem;
    padding: 0 6rem;
  }

}

#guide .wrapper .history ul.htry_list li{
  p:first-child{
    text-align: left!important;
  }
}