<h4>Hi <%= @user.username %></h4>
<h1>Your entry has been reported!</h1>


<p style="color:red">⚠️ Your meme has been flagged for review. We're committed to maintaining a safe and welcoming community for everyone. Thank you for your understanding and cooperation.</p>
