<h1>Hi <%= @user.username%></h1>
<h4>It is to inform you that total judged coins have been added to your wallet.</h4>
<p>Memee App would like to thank you for participating in the tournament.</p>
<% if @coins.present? %>
  <p> <strong><%= @coins %></strong> coins are added to your account</p>
<% end %>