<h1>Hi @user.username</h1>
<p>Congratulations for ranking <%=@rank  %> </p>
<p>Memee App would like to thank you for participating in the tournament</p>
<% if @coins.present? && @coins.to_i >0 %>
  <p> <%= @coins %> coins are added to your account</p>
<% end %>
