<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:image" content="https://www.google.com/search?q=img&sca_esv=586305682&rlz=1C5MACD_enPK1076PK1076&tbm=isch&sxsrf=AM9HkKlApOlVPHOnMHgo8lhHQdptvRZ2YQ:1701269182705&source=lnms&sa=X&ved=2ahUKEwipl7XKuemCAxVNhf0HHR6EAgkQ_AUoAXoECAEQAw&biw=1280&bih=683&dpr=2#imgrc=5ZuuOj89PplLBM">

    <title>Your Page Title</title>
    <style>
        body, p, h1, h3 {
            color: white;
        }
    </style>
</head>
<body>
        <div class="contain">
        <h1>Success</h1>
            </div>
        </div>
</main>

</div>
</body>
</html>
